/* -----------------CSS STYLES------------------------------ */
:root {
    --clr-primary-blue: #514A9D;
    --clr-secondary-blue: #24C6DC;
    --clr-primary-black: #232526;
    --clr-secondary-black: #414345;
    --clr-primary-orange: #ef5839;
    --clr-neutral-grey: #f0f0f0;
}

/* Add this to optimize font loading */
html {
    scroll-behavior: smooth;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "Poppins", serif;
    font-weight: 300;
    /* Font weights = 400, 700  */
    font-size: 1rem;
    color: var(--clr-neutral-grey);
    letter-spacing: -0.2px;


}

/* ----------------GLOBAL STYLES------------------------ */
.header-wrapper,
.hero-wrapper,
.footer-wrapper {
    max-width: 620px;
    width: 90%;
    margin: 0 auto;
}

.hero-title,
.footer-title {
    color: var(--clr-primary-orange);
    font-weight: 700;
    font-size: 1.5rem;
}

.hero-highlighter,
.footer-highlighter,
.header-title,
.hero-title,
.footer-title {
    font-weight: 700;
}



/* --------------HEADER SECTION------------------------ */
.header-container {
    padding: 2em;
    background: linear-gradient(to right, var(--clr-primary-black), var(--clr-secondary-black))
}



.header-title {
    font-size: 2rem;
    color: var(--clr-secondary-blue)
}


/* ---------------HERO SECTION--------------------------- */


.hero-container {
    color: var(--clr-primary-blue);
    padding: 1em;
    background-color: var(--clr-neutral-grey);

}


.hero-img {
    margin-top: 0.5em;
    max-width: 620px;
    width: 100%;
}

.hero-body {
    margin-top: 1em;
    font-weight: 400;



}

.body-link {
    color: var(--clr-primary-orange);
}


/* ------------------FOOTER SECTION------------------ */
.footer-container {

    padding: 1em;
    background: linear-gradient(to right, var(--clr-primary-black), var(--clr-secondary-black));
    color: var(--clr-neutral-grey)
}


.footer-body {
    margin-top: 0.5em;
}

.footer-links {
    margin-top: 1em;
}

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    font-weight: 700;
    margin-right: 0.5em;
    text-transform: capitalize;
    transition: all 0.2s ease-in;
    border-radius: 0.5em;
}


.dark-btn {
    background-color: #ef5839;
    color: var(--clr-neutral-grey);
}

.dark-btn:hover,
.dark-btn:focus {
    background-color: inherit;
    outline: 2px solid #ef5839;

}

.light-btn:hover,
.light-btn:focus {
    color: var(--clr-primary-orange);
    outline: 2px solid var(--clr-neutral-grey);
    background-color: inherit;
}

.light-btn {
    background-color: var(--clr-neutral-grey);
    color: var(--clr-primary-orange);
}